<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONFERENCE APP</title>
</head>
<body>
    <h1>Please wait for a few minutes...</h1>
</body>

<script>

console.log(location.pathname);
        // make call the API through the url 'location.pathname'
        fetch(location.pathname, { method: "POST" })
          .then(function (response) {
            return response.json();
          })
          .then(function (data) {
            console.log(data);
            data.apiKey;
            data.sessionId;

            // sessionId = data.sessionId;
            let session = OT.initSession(data.apiKey, data.sessionId);
            // console.log(session);
            let name = location.pathname;
            sessions[name] = session.sessionId;

            // function videoStreaming() {
            let publisher = OT.initPublisher("publisherID", pubVideoOptions); 
            session.connect(data.token, function () {
              session.publish(publisher);
            });

            // Session listening for the events
            session.on("streamCreated", function (event) {
              session.subscribe(event.stream, "subscriberID", {
                insertMode: "append",
                width: "100%",
                height: "100%",
              });
              // const sessionId = session.sessionId;
            });
          });

</script>

</html>